<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
    <title>Consulter liste</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <script>
        function openModal(titre, idListe, idObjet, text, action) {
            const modalTitle = document.getElementById('modalTitle');
            const modalBody = document.getElementById('modalBody');
            const modalForm = document.getElementById('modalForm');

            modalTitle.textContent = `Vous souhaitez ${text} "${titre}" ?`;
            modalBody.textContent = `Êtes-vous sûr de vouloir ${text} cet objet ?`;
            modalForm.action = action; // Le formulaire envoie à l'URL prévue
            modalForm.querySelector('[name="idListe"]').value = idListe;
            modalForm.querySelector('[name="idObjet"]').value = idObjet;

            const modal = new bootstrap.Modal(document.getElementById('confirmModal'));
            modal.show();
        }
    </script>
</head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="~{fragments/header :: header}"></div>

<main class="container my-4">
    <div class="text-center" th:if="${liste}">
        <h1 class="display-4 mb-4">Liste : <span class="text-primary" th:text="${liste.nomListe}"></span></h1>
        <div th:if="${connected}" class="d-flex justify-content-center gap-3 mb-3">
            <form action="/liste" method="get">
                <button class="btn btn-secondary">Retour</button>
            </form>
            <form action="/consulter-liste" method="get">
                <button class="btn btn-primary">Actualiser</button>
            </form>
            <form th:if="!${estFavori}" action="/ajouter-favori" method="post">
                <input type="hidden" name="idListeFavoris" th:value="${liste.idListe}">
                <button class="btn btn-success">Ajouter aux favoris</button>
            </form>
            <form th:if="${estFavori}" action="/supprimer-favori" method="post">
                <input type="hidden" name="idListeFavoris" th:value="${liste.idListe}">
                <button class="btn btn-danger">Supprimer des favoris</button>
            </form>
        </div>
        <div th:if="!${connected}" class="d-flex justify-content-center gap-3 mb-3">
            <form action="/liste" method="get">
                <button class="btn btn-secondary">Retour</button>
            </form>
            <form action="/consulter-liste" method="get">
                <button class="btn btn-primary">Actualiser</button>
            </form>
            <form action="/connexion" method="get" class="mb-3">
                <button class="btn btn-primary">Connexion</button>
            </form>
            <form action="/inscription" method="get">
                <button class="btn btn-secondary">Inscription</button>
            </form>
        </div>
        <div th:if="!${connected}" class="alert alert-primary text-center" role="alert">Connectez vous pour indiquer les objets que vous souhaitez offrir</div>
        <div class="mb-3">
            <span class="fw-bold">Partager :</span>
            <span class="text-muted" th:text="${liste.urlPartage}"></span>
        </div>
        <table class="table table-hover">
            <thead class="table-dark sticky-top">
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Url</th>
                <th>Est pris</th>
                <th>Détenteur</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="objet : ${liste.listeObjet}">
                <td th:text="${objet.titre}"></td>
                <td th:text="${objet.description}"></td>
                <td><a th:if="${objet.url != null and !#strings.isEmpty(objet.url)}" th:href="${objet.url}" class="btn btn-link" target="_blank">Voir</a></td>
                <td>
                    <span th:if="${objet.estPrit and objet.detenteur != email}" >Objet déjà offert</span>
                    <div th:if="${connected}">
                        <button th:if="!${objet.estPrit}" class="btn btn-warning btn-sm"
                                th:onclick="openModal(/*[[${objet.titre}]]*/, /*[[${liste.idListe}]]*/, /*[[${objet.idObjet}]]*/ , /*[['offrir']]*/, /*[['/prendre']]*/)">
                            J'offre ça
                        </button>
                        <button th:if="${objet.estPrit and objet.detenteur eq email}" class="btn btn-danger btn-sm"
                                th:onclick="openModal(/*[[${objet.titre}]]*/, /*[[${liste.idListe}]]*/, /*[[${objet.idObjet}]]*/  , /*[['ne plus offrir']]*/, /*[['/ne-plus-prendre']]*/)">
                            Je n'offre plus ça
                        </button>
                    </div>
                </td>
                <td th:text="${objet.pseudoDetenteur}"></td>
            </tr>
            </tbody>
        </table>
        <p class="text-muted" th:if="${liste.listeObjet.size()} == 0">Aucun objet dans la liste</p>
    </div>
</main>

<!-- Modale -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody"></div>
            <div class="modal-footer">
                <form id="modalForm" method="post">
                    <input type="hidden" name="idListe">
                    <input type="hidden" name="idObjet">
                    <button type="submit" class="btn btn-primary">Oui</button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
