<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="maximum-scale=1.0, initial-scale=1.0, width=device-width" name="viewport">
    <title>Politique de Sécurité</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</head>
<body>
<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-collapse" id="main_nav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/connexion">Connexion</a></li>
                <li class="nav-item"><a class="nav-link" href="/inscription">Inscription</a></li>
                <li class="nav-item"><a class="nav-link" href="/welcome">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/liste">Mes listes</a></li>
                <li class="nav-item"><a class="nav-link" href="/cgu">Conditions Générales d'Utilisation</a></li>
                <li class="nav-item"><a class="nav-link" href="/politique-confidentialite">Politique de
                    Confidentialité</a></li>
                <li class="nav-item"><a class="nav-link" href="/politique-securite">Politique de Sécurité</a></li>
                <li class="nav-item"><a class="nav-link" href="/deconnexion">Deconnexion</a></li>
            </ul>
        </div>
    </nav>
</div>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="container mt-5">
    <div align="center">
        <form action="/cgu" method="get">
            <button class="btn btn-secondary">Retour</button>
        </form>
    </div>
    <h1 class="mb-4">Politique de Sécurité</h1>
    <h2>Protection des Données Personnelles :</h2>
    <ul>
        <li>Toutes les données personnelles collectées sont traitées de manière confidentielle et ne sont accessibles
            qu'aux membres autorisés de l'équipe informatique.
        </li>
        <li>Les données personnelles sont stockées de manière sécurisée sur nos serveurs et sont protégées contre tout
            accès non autorisé.
        </li>
    </ul>
    <h2>Sécurité des Systèmes Informatiques :</h2>
    <ul>
        <li>Les systèmes informatiques utilisés pour la gestion de vos listes sont régulièrement mis à jour avec les
            derniers correctifs de sécurité pour protéger contre les vulnérabilités connues.
        </li>
        <li>Des mesures de sécurité telles que les pare-feu et les outils de détection des intrusions sont utilisées
            pour protéger les systèmes contre les attaques externes.
        </li>
    </ul>
    <h2>Contrôle d'Accès :</h2>
    <ul>
        <li>L'accès aux données personnelles et aux systèmes informatiques est limité aux membres autorisés de l'équipe
            informatique.
        </li>
        <li>Des identifiants d'utilisateur uniques sont attribués à chaque membre de l'équipe, et l'accès est révoqué
            dès que celui-ci n'est plus nécessaire.
        </li>
    </ul>
    <h2>Sensibilisation à la Sécurité :</h2>
    <ul>
        <li>Tous les membres de l'équipe de gestion de listes sont formés aux bonnes pratiques de sécurité et sont
            tenus de suivre les directives de sécurité établies.
        </li>
    </ul>
    <h2>Gestion des Incidents de Sécurité :</h2>
    <ul>
        <li>En cas d'incident de sécurité, une équipe dédiée est chargée d'investiguer et de répondre rapidement pour
            minimiser les impacts potentiels.
        </li>
    </ul>
    <p>Cette politique de sécurité est sujette à des révisions périodiques pour s'assurer qu'elle reste alignée sur les
        meilleures pratiques de sécurité et les évolutions technologiques.</p>
    <div align="center">
        <form action="/cgu" method="get">
            <button class="btn btn-secondary">Retour</button>
        </form>
    </div>
</div>

</body>
</html>