<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="maximum-scale=1.0, initial-scale=1.0, width=device-width">
    <title>Modifier le mot de passe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="~{fragments/header :: header}"></div>

<main class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow table-container">
                <div class="card-header bg-primary text-white text-center">
                    <h3>Modifier le mot de passe</h3>
                </div>
                <div class="card-body">
                    <form action="/modifier-password" method="post">
                        <div class="mb-4">
                            <label for="oldPassword" class="form-label">Ancien mot de passe</label>
                            <input type="password" name="oldPassword" class="form-control" id="oldPassword" placeholder="Saisissez votre ancien mot de passe" required>
                        </div>
                        <div class="mb-4">
                            <label for="newPassword" class="form-label">Nouveau mot de passe</label>
                            <input type="password" name="newPassword" class="form-control" id="newPassword" placeholder="Saisissez votre nouveau mot de passe" required>
                        </div>
                        <div class="mb-4">
                            <label for="confirmationNewPassword" class="form-label">Confirmation du nouveau mot de passe</label>
                            <input type="password" name="confirmationNewPassword" class="form-control" id="confirmationNewPassword" placeholder="Confirmez votre nouveau mot de passe" required>
                        </div>
                        <div th:if="${succes}" class="alert alert-success text-center" role="alert" th:text="${succes}"></div>
                        <div th:if="${erreur}" class="alert alert-danger text-center" role="alert" th:text="${erreur}"></div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success w-100">Modifier</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="mt-auto bg-dark text-white text-center py-3">
    <p class="mb-0">© 2024 Liste. Tous droits réservés.</p>
</footer>

<script src="/js/theme.js"></script>
</body>
</html>
